.wrapper-mi-swiper {
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .wrapper-mi-swiper .swiper-button-next,
  .wrapper-mi-swiper .swiper-button-prev {
    color: #646464;
    z-index: 1; }
    @media (max-width: 600px) {
      .wrapper-mi-swiper .swiper-button-next,
      .wrapper-mi-swiper .swiper-button-prev {
        display: none; } }
  .wrapper-mi-swiper .wrapper-banner-burro {
    width: 100%;
    height: 100%; }
    @media (max-width: 900px) {
      .wrapper-mi-swiper .wrapper-banner-burro {
        background-color: #415916; } }
    .wrapper-mi-swiper .wrapper-banner-burro img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
      @media (max-width: 900px) {
        .wrapper-mi-swiper .wrapper-banner-burro img {
          display: none; } }
  .wrapper-mi-swiper .block-one-two {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0; }
    @media (max-width: 900px) {
      .wrapper-mi-swiper .block-one-two {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .wrapper-mi-swiper .block-one-two .block-one,
    .wrapper-mi-swiper .block-one-two .block-two {
      width: 50%; }
      @media (max-width: 900px) {
        .wrapper-mi-swiper .block-one-two .block-one,
        .wrapper-mi-swiper .block-one-two .block-two {
          width: 100%; } }
    .wrapper-mi-swiper .block-one-two .block-one {
      height: 400px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media (max-width: 900px) {
        .wrapper-mi-swiper .block-one-two .block-one {
          display: none; } }
      .wrapper-mi-swiper .block-one-two .block-one img {
        width: 200px;
        margin-left: 70px; }
    .wrapper-mi-swiper .block-one-two .block-two {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .wrapper-mi-swiper .block-one-two .block-two .img-burro-desktop {
        width: 500px;
        -webkit-filter: drop-shadow(0 0 9px rgba(0, 0, 0, 0.6));
        filter: drop-shadow(0 0 9px rgba(0, 0, 0, 0.6)); }
        @media (max-width: 1400px) {
          .wrapper-mi-swiper .block-one-two .block-two .img-burro-desktop {
            width: 430px;
            background-color: #2d4305;
            padding: 1em;
            border-radius: 10px; } }
        @media (max-width: 900px) {
          .wrapper-mi-swiper .block-one-two .block-two .img-burro-desktop {
            display: none; } }
      .wrapper-mi-swiper .block-one-two .block-two .img-burro-mobile {
        display: none; }
        @media (max-width: 900px) {
          .wrapper-mi-swiper .block-one-two .block-two .img-burro-mobile {
            display: block;
            width: 400px; } }
        @media (max-width: 500px) {
          .wrapper-mi-swiper .block-one-two .block-two .img-burro-mobile {
            width: 350px; } }
      .wrapper-mi-swiper .block-one-two .block-two .btn-demo {
        padding: 1em 5em;
        border-radius: 10px;
        background-color: #253702;
        color: white;
        -webkit-box-shadow: 0 0 10px #2d4305;
        box-shadow: 0 0 10px #2d4305;
        -webkit-transform: translatey(20px);
        -ms-transform: translatey(20px);
        transform: translatey(20px);
        font-weight: bold; }
  .wrapper-mi-swiper .wrapper-new-maq {
    width: 100%;
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    .wrapper-mi-swiper .wrapper-new-maq:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, rgba(80, 47, 123, 0)), to(#0e1528));
      background: -webkit-linear-gradient(bottom, rgba(80, 47, 123, 0) 30%, #0e1528 100%);
      background: -o-linear-gradient(bottom, rgba(80, 47, 123, 0) 30%, #0e1528 100%);
      background: linear-gradient(0deg, rgba(80, 47, 123, 0) 30%, #0e1528 100%); }
      @media (max-width: 1200px) {
        .wrapper-mi-swiper .wrapper-new-maq:before {
          display: block; } }
    .wrapper-mi-swiper .wrapper-new-maq img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
      @media (max-width: 1000px) {
        .wrapper-mi-swiper .wrapper-new-maq img {
          -o-object-position: 0;
          object-position: 0; } }
  .wrapper-mi-swiper .group-img-btn {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0; }
    .wrapper-mi-swiper .group-img-btn .txt-btn-new-maq {
      width: 80%;
      height: 60%;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      @media (max-width: 1200px) {
        .wrapper-mi-swiper .group-img-btn .txt-btn-new-maq {
          width: 100%;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; } }
      .wrapper-mi-swiper .group-img-btn .txt-btn-new-maq .img-txt {
        width: 700px;
        -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
        transform: translateX(50px);
        -webkit-filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.9));
        filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.9)); }
        @media (max-width: 1200px) {
          .wrapper-mi-swiper .group-img-btn .txt-btn-new-maq .img-txt {
            width: 90%;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0); } }
      .wrapper-mi-swiper .group-img-btn .txt-btn-new-maq .img-btn {
        width: 300px;
        -webkit-transform: translateY(110px);
        -ms-transform: translateY(110px);
        transform: translateY(110px); }
  .wrapper-mi-swiper .wraper-banner-vc999 {
    width: 100%;
    height: 100vh; }
    .wrapper-mi-swiper .wraper-banner-vc999 img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .wrapper-mi-swiper .wrapper-izq-der {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0; }
    @media (max-width: 600px) {
      .wrapper-mi-swiper .wrapper-izq-der {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-transform: translateY(120px);
        -ms-transform: translateY(120px);
        transform: translateY(120px); } }
    .wrapper-mi-swiper .wrapper-izq-der .content-txt-izq,
    .wrapper-mi-swiper .wrapper-izq-der .content-img-der {
      width: 50%; }
      @media (max-width: 600px) {
        .wrapper-mi-swiper .wrapper-izq-der .content-txt-izq,
        .wrapper-mi-swiper .wrapper-izq-der .content-img-der {
          width: 100%; } }
    .wrapper-mi-swiper .wrapper-izq-der .content-txt-izq {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      z-index: 1;
      -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      transform: translateY(-100px); }
      @media (max-width: 1550px) {
        .wrapper-mi-swiper .wrapper-izq-der .content-txt-izq {
          -webkit-transform: translateY(-50px);
          -ms-transform: translateY(-50px);
          transform: translateY(-50px); } }
      @media (max-width: 600px) {
        .wrapper-mi-swiper .wrapper-izq-der .content-txt-izq {
          -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
          order: 2;
          -webkit-transform: translateY(0px);
          -ms-transform: translateY(0px);
          transform: translateY(0px); } }
      .wrapper-mi-swiper .wrapper-izq-der .content-txt-izq img {
        width: 550px;
        margin: 0.5em 0; }
        @media (max-width: 1550px) {
          .wrapper-mi-swiper .wrapper-izq-der .content-txt-izq img {
            width: 460px; } }
        @media (max-width: 1100px) {
          .wrapper-mi-swiper .wrapper-izq-der .content-txt-izq img {
            width: 80%; } }
    .wrapper-mi-swiper .wrapper-izq-der .content-img-der {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
      transform: translateY(-50px); }
      @media (max-width: 600px) {
        .wrapper-mi-swiper .wrapper-izq-der .content-img-der {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0); } }
      .wrapper-mi-swiper .wrapper-izq-der .content-img-der img {
        width: 550px; }
        @media (min-width: 1551px) {
          .wrapper-mi-swiper .wrapper-izq-der .content-img-der img {
            width: 700px; } }
        @media (max-width: 600px) {
          .wrapper-mi-swiper .wrapper-izq-der .content-img-der img {
            width: 90%;
            margin: 0 auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; } }
  .wrapper-mi-swiper .wrapper-tgm-experience {
    width: 100%;
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden; }
    .wrapper-mi-swiper .wrapper-tgm-experience:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(80, 47, 123, 0.1)), to(#191d2d));
      background: -webkit-linear-gradient(top, rgba(80, 47, 123, 0.1) 0%, #191d2d 100%);
      background: -o-linear-gradient(top, rgba(80, 47, 123, 0.1) 0%, #191d2d 100%);
      background: linear-gradient(to bottom, rgba(80, 47, 123, 0.1) 0%, #191d2d 100%); }
    .wrapper-mi-swiper .wrapper-tgm-experience .img-banner-top,
    .wrapper-mi-swiper .wrapper-tgm-experience .img-fondo,
    .wrapper-mi-swiper .wrapper-tgm-experience .wave {
      position: absolute; }
    .wrapper-mi-swiper .wrapper-tgm-experience .img-banner-top {
      width: 100%;
      max-width: 1600px;
      z-index: 1;
      top: 80px; }
      @media (max-width: 600px) {
        .wrapper-mi-swiper .wrapper-tgm-experience .img-banner-top {
          width: 400%;
          margin-left: 815px;
          top: 60px; } }
    .wrapper-mi-swiper .wrapper-tgm-experience .img-fondo {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .wrapper-mi-swiper .wrapper-tgm-experience .wave {
      width: 100%;
      opacity: 0.5; }
      @media (max-width: 1000px) {
        .wrapper-mi-swiper .wrapper-tgm-experience .wave {
          width: 2000px; } }
    .wrapper-mi-swiper .wrapper-tgm-experience .wrapper-experience {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      z-index: 999; }
      @media (min-width: 1500px) {
        .wrapper-mi-swiper .wrapper-tgm-experience .wrapper-experience {
          bottom: -80px; } }
      @media (max-width: 1500px) {
        .wrapper-mi-swiper .wrapper-tgm-experience .wrapper-experience {
          width: 95%;
          bottom: 20px;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end; } }
      @media (max-width: 500px) {
        .wrapper-mi-swiper .wrapper-tgm-experience .wrapper-experience {
          bottom: 150px; } }
      .wrapper-mi-swiper .wrapper-tgm-experience .wrapper-experience .box-experience {
        width: 700px; }
        @media (max-width: 1500px) {
          .wrapper-mi-swiper .wrapper-tgm-experience .wrapper-experience .box-experience {
            width: 600px; } }
        .wrapper-mi-swiper .wrapper-tgm-experience .wrapper-experience .box-experience .txt-experience {
          -webkit-filter: drop-shadow(-2px 2px 15px #191d2d);
          filter: drop-shadow(-2px 2px 15px #191d2d); }
        .wrapper-mi-swiper .wrapper-tgm-experience .wrapper-experience .box-experience h1 {
          text-align: center;
          color: white;
          font-weight: 500;
          line-height: 1.3; }
        .wrapper-mi-swiper .wrapper-tgm-experience .wrapper-experience .box-experience h2 {
          text-align: center;
          color: #95c11f; }
        .wrapper-mi-swiper .wrapper-tgm-experience .wrapper-experience .box-experience .content-btn-experience {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          margin: 1em auto 0;
          position: relative; }
          .wrapper-mi-swiper .wrapper-tgm-experience .wrapper-experience .box-experience .content-btn-experience a {
            position: absolute; }
            .wrapper-mi-swiper .wrapper-tgm-experience .wrapper-experience .box-experience .content-btn-experience a .btn-experience {
              font-size: 0.9em;
              width: 300px;
              font-weight: bold;
              line-height: 3;
              color: white;
              background-color: #95c11f;
              -webkit-box-shadow: 0 0 0 3px #ffffff;
              box-shadow: 0 0 0 3px #ffffff;
              border-radius: 10px; }
        .wrapper-mi-swiper .wrapper-tgm-experience .wrapper-experience .box-experience .machines {
          width: 100%; }
          @media (max-width: 500px) {
            .wrapper-mi-swiper .wrapper-tgm-experience .wrapper-experience .box-experience .machines {
              -webkit-transform: translateY(30px);
              -ms-transform: translateY(30px);
              transform: translateY(30px); } }
  .wrapper-mi-swiper .group-fondo {
    width: 100%;
    height: 100vh;
    position: relative; }
    .wrapper-mi-swiper .group-fondo img {
      width: 100%;
      height: 100vh; }
  .wrapper-mi-swiper .group-xr76 {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0; }
    @media (max-width: 1000px) {
      .wrapper-mi-swiper .group-xr76 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .wrapper-mi-swiper .group-xr76 .content-txt-izq {
      width: 50%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transform: translate(80px, 130px);
      -ms-transform: translate(80px, 130px);
      transform: translate(80px, 130px); }
      @media (max-width: 1000px) {
        .wrapper-mi-swiper .group-xr76 .content-txt-izq {
          width: 100%;
          position: absolute;
          -webkit-transform: translateY(-50px);
          -ms-transform: translateY(-50px);
          transform: translateY(-50px); } }
      .wrapper-mi-swiper .group-xr76 .content-txt-izq img {
        width: 50%; }
        @media (min-width: 1400px) {
          .wrapper-mi-swiper .group-xr76 .content-txt-izq img {
            width: 45%; } }
        @media (max-width: 1500px) {
          .wrapper-mi-swiper .group-xr76 .content-txt-izq img {
            width: 60%; } }
        @media (max-width: 1000px) {
          .wrapper-mi-swiper .group-xr76 .content-txt-izq img {
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0);
            -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(black));
            -webkit-mask-image: -webkit-linear-gradient(bottom, transparent, black 100%);
            mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(black));
            mask-image: linear-gradient(to top, transparent, black 100%); } }
    .wrapper-mi-swiper .group-xr76 .content-img-der {
      width: 50%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
      transform: translateY(50px); }
      @media (max-width: 1000px) {
        .wrapper-mi-swiper .group-xr76 .content-img-der {
          width: 100%;
          -webkit-transform: translateY(100px);
          -ms-transform: translateY(100px);
          transform: translateY(100px); } }
      .wrapper-mi-swiper .group-xr76 .content-img-der img {
        width: 80%;
        -webkit-filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.8));
        filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.8)); }
        @media (max-width: 1000px) {
          .wrapper-mi-swiper .group-xr76 .content-img-der img {
            width: 90%;
            margin: 0 auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; } }
  .wrapper-mi-swiper .fondo-hypernova {
    width: 100%;
    height: 100vh;
    position: relative; }
    .wrapper-mi-swiper .fondo-hypernova:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: -webkit-gradient(linear, right top, left top, color-stop(50%, rgba(80, 47, 123, 0.1)), to(#191d2d));
      background: -webkit-linear-gradient(right, rgba(80, 47, 123, 0.1) 50%, #191d2d 100%);
      background: -o-linear-gradient(right, rgba(80, 47, 123, 0.1) 50%, #191d2d 100%);
      background: linear-gradient(to left, rgba(80, 47, 123, 0.1) 50%, #191d2d 100%);
      opacity: 0; }
      @media (max-width: 700px) {
        .wrapper-mi-swiper .fondo-hypernova:before {
          opacity: 1; } }
    .wrapper-mi-swiper .fondo-hypernova img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .wrapper-mi-swiper .txt-hypernova {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 700px) {
      .wrapper-mi-swiper .txt-hypernova {
        width: 100%; } }
    .wrapper-mi-swiper .txt-hypernova img {
      width: 600px;
      -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
      transform: translateY(50px); }
      @media (max-width: 1000px) {
        .wrapper-mi-swiper .txt-hypernova img {
          width: 100%; } }
      @media (max-width: 700px) {
        .wrapper-mi-swiper .txt-hypernova img {
          width: 90%; } }
  .wrapper-mi-swiper .wrapper-banner-flexibox {
    width: 100%;
    height: 100vh; }
    .wrapper-mi-swiper .wrapper-banner-flexibox img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .wrapper-mi-swiper .wrapper-banner-flexibox button {
      font-family: "Montserrat";
      font-size: 2em;
      font-weight: bold;
      padding: 0.2em 0.5em;
      position: absolute;
      right: 120px;
      bottom: 60px;
      z-index: 1;
      color: white;
      background-color: #313131;
      -webkit-box-shadow: 0 5px 2px #949494;
      box-shadow: 0 5px 2px #949494;
      border-radius: 40px; }
      @media (max-width: 500px) {
        .wrapper-mi-swiper .wrapper-banner-flexibox button {
          background-color: #fb9000;
          bottom: 200px;
          -webkit-box-shadow: inherit;
          box-shadow: inherit; } }
      @media (max-width: 400px) {
        .wrapper-mi-swiper .wrapper-banner-flexibox button {
          font-size: 1.5em; } }
  .wrapper-mi-swiper .wrapper-flexibox {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    @media (max-width: 500px) {
      .wrapper-mi-swiper .wrapper-flexibox {
        width: 80%; } }
    .wrapper-mi-swiper .wrapper-flexibox .block-doble {
      width: 100%;
      height: 100%; }
    .wrapper-mi-swiper .wrapper-flexibox .content-flexibox {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .wrapper-mi-swiper .wrapper-flexibox .content-flexibox img {
        width: 70%;
        -webkit-filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7));
        filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7)); }
        @media (min-width: 1500px) {
          .wrapper-mi-swiper .wrapper-flexibox .content-flexibox img {
            width: 55%; } }
        @media (max-width: 1000px) {
          .wrapper-mi-swiper .wrapper-flexibox .content-flexibox img {
            width: 80%; } }
        @media (max-width: 500px) {
          .wrapper-mi-swiper .wrapper-flexibox .content-flexibox img {
            width: 100%;
            -webkit-transform: translate(20px, -30px);
            -ms-transform: translate(20px, -30px);
            transform: translate(20px, -30px); } }

@media (max-width: 800px) {
  .swiper-pagination {
    display: none; } }

.wrapper-feria {
  width: 100%;
  height: 100%; }
