@charset "UTF-8";
.wrapper-detalle-producto {
  max-width: 1300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8em auto 5em; }
  @media (max-width: 1400px) {
    .wrapper-detalle-producto {
      max-width: 1200px;
      width: 95%; } }
  @media (max-width: 1000px) {
    .wrapper-detalle-producto {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 8em auto 0; } }
  @media (max-width: 900px) {
    .wrapper-detalle-producto {
      margin: 6em auto 0; } }
  .wrapper-detalle-producto .content-detalle-img {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (max-width: 1000px) {
      .wrapper-detalle-producto .content-detalle-img {
        width: 100%; } }
    .wrapper-detalle-producto .content-detalle-img .content-slick-productos {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .wrapper-detalle-producto .content-detalle-img .content-slick-productos .slider.slider-for {
        max-width: 80%;
        margin: 0 0.5em 0 0;
        border: 1px solid #eee;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        @media (max-width: 1000px) {
          .wrapper-detalle-producto .content-detalle-img .content-slick-productos .slider.slider-for {
            width: 90%; } }
      .wrapper-detalle-producto .content-detalle-img .content-slick-productos .slider.slider-nav {
        width: 81px; }
        .wrapper-detalle-producto .content-detalle-img .content-slick-productos .slider.slider-nav .wrapper-detalle-producto
.content-detalle-img
.content-slick-productos
.slider.slider-nav {
          max-width: 95%; }
        .wrapper-detalle-producto .content-detalle-img .content-slick-productos .slider.slider-nav .slick-slide .thumbnail-image .thumbImg {
          max-width: 80px;
          height: 80px;
          border: 1px solid #eeeeee;
          border-radius: 3px;
          cursor: pointer; }
      .wrapper-detalle-producto .content-detalle-img .content-slick-productos .slider-banner-image img,
      .wrapper-detalle-producto .content-detalle-img .content-slick-productos .thumbnail-image .thumbImg img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
      .wrapper-detalle-producto .content-detalle-img .content-slick-productos .img-icon-video {
        border: 1px solid #eeeeee;
        height: 80px;
        padding: 0.4em; }
    .wrapper-detalle-producto .content-detalle-img .wrapper-buttons {
      width: 100%;
      margin: 0.5em 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .wrapper-detalle-producto .content-detalle-img .wrapper-buttons .btn-descargar,
      .wrapper-detalle-producto .content-detalle-img .wrapper-buttons .btn-ficha {
        font-family: "Montserrat", sans-serif;
        font-size: 0.7em;
        padding: 0.6em 1.5em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        border: 0;
        cursor: pointer; }
      .wrapper-detalle-producto .content-detalle-img .wrapper-buttons .btn-descargar img {
        width: 25px;
        margin: 0 0.5em 0 0; }
      .wrapper-detalle-producto .content-detalle-img .wrapper-buttons .btn-ficha {
        margin: 0 0.5em 0 0;
        background-color: #8dc64d; }
        @media (max-width: 500px) {
          .wrapper-detalle-producto .content-detalle-img .wrapper-buttons .btn-ficha {
            font-size: 0.6em; } }
        .wrapper-detalle-producto .content-detalle-img .wrapper-buttons .btn-ficha img {
          width: 25px;
          margin: 0 0.5em 0 0; }
      .wrapper-detalle-producto .content-detalle-img .wrapper-buttons .btn-descargar {
        background-color: #585858; }
  .wrapper-detalle-producto .content-detalle-txt {
    width: 50%;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px); }
    @media (max-width: 1400px) {
      .wrapper-detalle-producto .content-detalle-txt {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); } }
    @media (max-width: 1000px) {
      .wrapper-detalle-producto .content-detalle-txt {
        width: 100%;
        margin: 2em 0; } }
    .wrapper-detalle-producto .content-detalle-txt .separation {
      margin: 0.5em 0;
      border-bottom: 1px solid #e9e9e9; }
    .wrapper-detalle-producto .content-detalle-txt .btn-cotizar {
      width: 100%;
      font-weight: 700;
      line-height: 3em;
      margin: 0.8em 0;
      background-color: transparent;
      border: 3px solid #8bc34a;
      border-radius: 10px;
      color: #8bc34a;
      text-align: center;
      text-transform: uppercase;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .wrapper-detalle-producto .content-detalle-txt .content-info-ventas {
      margin: 1.5em 0; }
      .wrapper-detalle-producto .content-detalle-txt .content-info-ventas h2,
      .wrapper-detalle-producto .content-detalle-txt .content-info-ventas h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 0.8em; }
      .wrapper-detalle-producto .content-detalle-txt .content-info-ventas h2 {
        font-weight: bold;
        color: #5f5f5f; }
      .wrapper-detalle-producto .content-detalle-txt .content-info-ventas h3 {
        font-weight: 400;
        color: #848484; }
    .wrapper-detalle-producto .content-detalle-txt .marca_proveedor {
      width: 110px;
      margin: 1em 0 0; }
    .wrapper-detalle-producto .content-detalle-txt h1.title-principal {
      font-family: "Montserrat", sans-serif;
      font-size: 3.5em;
      margin: 0 0 0.3em 0;
      color: #16172d;
      -webkit-text-stroke: 2px;
      font-weight: 700;
      line-height: 1;
      position: relative; }
      @media (max-width: 1100px) {
        .wrapper-detalle-producto .content-detalle-txt h1.title-principal {
          font-size: 3em; } }
      @media (max-width: 500px) {
        .wrapper-detalle-producto .content-detalle-txt h1.title-principal {
          font-size: 2em;
          -webkit-text-stroke: 1px;
          line-height: 1.1; } }
    .wrapper-detalle-producto .content-detalle-txt p {
      font-family: "Montserrat", sans-serif;
      font-size: 0.9em;
      font-weight: 300;
      color: #000;
      margin: 1em 0; }
  .wrapper-detalle-producto .mostrarElemento {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .wrapper-detalle-producto .mostrarElemento #cerrarVentana {
      font-size: 1.5em;
      width: 40px;
      height: 40px;
      font-weight: 500;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: white;
      border: 2px solid white;
      background-color: black;
      position: absolute;
      top: 50px;
      right: 100px;
      z-index: 1;
      cursor: pointer; }
      .wrapper-detalle-producto .mostrarElemento #cerrarVentana .content-close {
        -webkit-transform: translateX(-1px);
        -ms-transform: translateX(-1px);
        transform: translateX(-1px); }
        .wrapper-detalle-producto .mostrarElemento #cerrarVentana .content-close .line1,
        .wrapper-detalle-producto .mostrarElemento #cerrarVentana .content-close .line2 {
          width: 25px;
          height: 2px;
          background-color: white; }
        .wrapper-detalle-producto .mostrarElemento #cerrarVentana .content-close .line1 {
          -webkit-transform: rotate(47deg) translateX(1px);
          -ms-transform: rotate(47deg) translateX(1px);
          transform: rotate(47deg) translateX(1px); }
        .wrapper-detalle-producto .mostrarElemento #cerrarVentana .content-close .line2 {
          -webkit-transform: rotate(-45deg) translateX(1px);
          -ms-transform: rotate(-45deg) translateX(1px);
          transform: rotate(-45deg) translateX(1px); }
  .wrapper-detalle-producto .mostrar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

@media (max-width: 1400px) {
  .wrapper-detalle-producto {
    max-width: 1200px;
    width: 95%; } }

@media (max-width: 1000px) {
  .wrapper-detalle-producto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 8em auto 0; } }

@media (max-width: 900px) {
  .wrapper-detalle-producto {
    margin: 6em auto 0; } }

@media (max-width: 1000px) {
  .wrapper-detalle-producto .content-detalle-img {
    width: 100%; } }

@media (max-width: 1000px) {
  .wrapper-detalle-producto
.content-detalle-img
.content-slick-productos
.slider.slider-for {
    width: 90%; } }

@media (max-width: 1000px) {
  .wrapper-detalle-producto
.content-detalle-img
.content-slick-productos
.slider.slider-nav {
    max-width: 95%; } }

@media (max-width: 500px) {
  .wrapper-detalle-producto .content-detalle-img .wrapper-buttons .btn-descargar,
  .wrapper-detalle-producto .content-detalle-img .wrapper-buttons .btn-ficha {
    font-size: 0.6em; } }

@media (max-width: 1400px) {
  .wrapper-detalle-producto .content-detalle-txt {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@media (max-width: 1000px) {
  .wrapper-detalle-producto .content-detalle-txt {
    width: 100%;
    margin: 2em 0; } }

@media (max-width: 1100px) {
  .wrapper-detalle-producto .content-detalle-txt h1.title-principal {
    font-size: 3em; } }

@media (max-width: 500px) {
  .wrapper-detalle-producto .content-detalle-txt h1.title-principal {
    font-size: 2em;
    -webkit-text-stroke: 1px;
    line-height: 1.1; } }

.wrapper-caracteristicas {
  width: 100%; }
  .wrapper-caracteristicas .content-caracteristicas {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 6em 0;
    border-top: 1px solid #eee;
    overflow: hidden; }
    @media (max-width: 500px) {
      .wrapper-caracteristicas .content-caracteristicas {
        padding: 0 0 3em 0; } }
    .wrapper-caracteristicas .content-caracteristicas h2 {
      color: #4b4b4b;
      font-size: 1.3em;
      padding: 2em 0 2em;
      text-align: center; }
      .wrapper-caracteristicas .content-caracteristicas h2:after {
        content: "─";
        color: #8dc64d; }
      .wrapper-caracteristicas .content-caracteristicas h2:before {
        content: "─";
        color: #8dc64d;
        margin: 0 0.5em 0 0; }
      .wrapper-caracteristicas .content-caracteristicas h2:after {
        margin: 0 0 0 0.5em; }
    .wrapper-caracteristicas .content-caracteristicas .content-lista {
      width: 100%;
      -webkit-transform: translateX(18px);
      -ms-transform: translateX(18px);
      transform: translateX(18px); }
      @media (max-width: 1400px) {
        .wrapper-caracteristicas .content-caracteristicas .content-lista {
          padding: 0 2em; } }
      @media (max-width: 500px) {
        .wrapper-caracteristicas .content-caracteristicas .content-lista {
          padding: 0 1em; } }
      .wrapper-caracteristicas .content-caracteristicas .content-lista ul {
        list-style: square; }
        .wrapper-caracteristicas .content-caracteristicas .content-lista ul li {
          font-family: "Montserrat", sans-serif;
          font-size: 0.95em;
          margin: 0 0 0.5em; }

@media (max-width: 500px) {
  .wrapper-caracteristicas .content-caracteristicas {
    padding: 0 0 3em 0; } }

@media (max-width: 1400px) {
  .wrapper-caracteristicas .content-caracteristicas .content-lista {
    padding: 0 2em; } }

@media (max-width: 500px) {
  .wrapper-caracteristicas .content-caracteristicas .content-lista {
    padding: 0 1em; } }

.wrapper-aplicaciones {
  width: 100%;
  background-color: #212121; }
  .wrapper-aplicaciones h2 {
    color: white;
    font-size: 1.3em;
    padding: 2em 0 2em;
    text-align: center; }
    .wrapper-aplicaciones h2:after {
      content: "─";
      color: #8dc64d; }
    .wrapper-aplicaciones h2:before {
      content: "─";
      color: #8dc64d;
      margin: 0 0.5em 0 0; }
    .wrapper-aplicaciones h2:after {
      margin: 0 0 0 0.5em; }
  .wrapper-aplicaciones .content-aplicaciones {
    width: 100%;
    margin: 0 auto;
    padding: 2em 0 6em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 50px;
    overflow-x: scroll; }
    @media (max-width: 1200px) {
      .wrapper-aplicaciones .content-aplicaciones {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; } }
    .wrapper-aplicaciones .content-aplicaciones .content-circle {
      width: 200px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative; }
      @media (max-width: 1200px) {
        .wrapper-aplicaciones .content-aplicaciones .content-circle {
          -webkit-transform: translateX(50px);
          -ms-transform: translateX(50px);
          transform: translateX(50px); } }
      .wrapper-aplicaciones .content-aplicaciones .content-circle .overlay-black {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: black;
        position: absolute;
        opacity: 0;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
      .wrapper-aplicaciones .content-aplicaciones .content-circle img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 0 7px white, 0 0 0 16px #8dd63b;
        box-shadow: 0 0 0 7px white, 0 0 0 16px #8dd63b;
        -o-object-fit: cover;
        object-fit: cover; }
      .wrapper-aplicaciones .content-aplicaciones .content-circle h3 {
        font-size: 0.9em;
        color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        .wrapper-aplicaciones .content-aplicaciones .content-circle h3:before {
          content: "";
          width: 0;
          height: 2px;
          background-color: #8ed63b;
          position: absolute;
          top: -10px;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          -webkit-transition-delay: 0.25s;
          -o-transition-delay: 0.25s;
          transition-delay: 0.25s; }
      .wrapper-aplicaciones .content-aplicaciones .content-circle:hover .overlay-black {
        opacity: 0.9; }
      .wrapper-aplicaciones .content-aplicaciones .content-circle:hover h3 {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1; }
        .wrapper-aplicaciones .content-aplicaciones .content-circle:hover h3:before {
          width: 50px; }

@media (max-width: 1200px) {
  .wrapper-aplicaciones .content-aplicaciones {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; } }

@media (max-width: 1200px) {
  .wrapper-aplicaciones .content-aplicaciones .content-circle {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px); } }

.fondo-relacionado {
  padding: 2em 0 6em 0;
  background-color: #e9e9e9; }
  .fondo-relacionado .wrapper-slider-destacado {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto; }
    .fondo-relacionado .wrapper-slider-destacado .titulo-relacionados h2 {
      font-size: 1.3em;
      padding: 2em 0 2em;
      text-align: center; }
      .fondo-relacionado .wrapper-slider-destacado .titulo-relacionados h2:after {
        content: "─";
        color: #8dc64d; }
      .fondo-relacionado .wrapper-slider-destacado .titulo-relacionados h2:before {
        content: "─";
        color: #8dc64d;
        margin: 0 0.5em 0 0; }
      .fondo-relacionado .wrapper-slider-destacado .titulo-relacionados h2:after {
        margin: 0 0 0 0.5em; }
    .fondo-relacionado .wrapper-slider-destacado .content-box-destacado {
      margin: 0.3em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border: 1px solid #ebebeb;
      background-color: white;
      border-radius: 10px; }
      .fondo-relacionado .wrapper-slider-destacado .content-box-destacado .img-destacado {
        width: 100%;
        padding: 1em; }
      .fondo-relacionado .wrapper-slider-destacado .content-box-destacado .title-destacado {
        text-align: center;
        margin: 0 1em 1em; }
        .fondo-relacionado .wrapper-slider-destacado .content-box-destacado .title-destacado a {
          color: #595959; }

.close {
  position: absolute;
  top: 1px;
  right: 12px;
  font-size: 1.8em;
  color: #898989; }
  .close:focus, .close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer; }

.modal.show {
  opacity: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.modal-content.show {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.modal {
  display: none;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease; }

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  border-radius: 10px;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease; }
  .modal-content .wrapper-contact-form {
    max-width: 1100px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 5px #787878;
    box-shadow: 0 0 5px #787878;
    overflow: hidden; }
    .modal-content .wrapper-contact-form .box-img-form {
      width: 50%; }
      @media (max-width: 700px) {
        .modal-content .wrapper-contact-form .box-img-form {
          display: none; } }
      .modal-content .wrapper-contact-form .box-img-form img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    .modal-content .wrapper-contact-form .box-txt-form {
      width: 50%;
      padding: 0 0 1.5em 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: white; }
      @media (max-width: 700px) {
        .modal-content .wrapper-contact-form .box-txt-form {
          width: 100%; } }
      .modal-content .wrapper-contact-form .box-txt-form .content-formulario {
        width: 88%; }
        .modal-content .wrapper-contact-form .box-txt-form .content-formulario .content-dropdown {
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 1; }
        .modal-content .wrapper-contact-form .box-txt-form .content-formulario .setting-description-text {
          margin: 0 0 0.5em 0; }
          .modal-content .wrapper-contact-form .box-txt-form .content-formulario .setting-description-text h2 {
            font-size: 0.8em;
            font-weight: bold;
            color: #56b863; }
        .modal-content .wrapper-contact-form .box-txt-form .content-formulario .wrapper-par {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          gap: 30px;
          margin: 2em 0 0; }
          .modal-content .wrapper-contact-form .box-txt-form .content-formulario .wrapper-par .wrapper-dropdown {
            width: 100%;
            position: relative;
            display: inline-block;
            min-height: 20px;
            background: transparent;
            border-bottom: 1px solid #ccc;
            color: #949494;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-family: Arial; }
            .modal-content .wrapper-contact-form .box-txt-form .content-formulario .wrapper-par .wrapper-dropdown .selected-display {
              font-size: 0.9em;
              color: #818181; }
          .modal-content .wrapper-contact-form .box-txt-form .content-formulario .wrapper-par .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden; }
          .modal-content .wrapper-contact-form .box-txt-form .content-formulario .wrapper-par .arrow {
            margin-left: 10px;
            margin-right: 10px;
            float: right;
            rotate: 180deg; }
          .modal-content .wrapper-contact-form .box-txt-form .content-formulario .wrapper-par svg {
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s; }
          .modal-content .wrapper-contact-form .box-txt-form .content-formulario .wrapper-par .wrapper-dropdown:before {
            position: absolute;
            top: 50%;
            right: 16px;
            margin-top: -2px;
            border-width: 6px 6px 0 6px;
            border-style: solid;
            border-color: #fff transparent; }
          .modal-content .wrapper-contact-form .box-txt-form .content-formulario .wrapper-par .rotated {
            -webkit-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            transform: rotate(-180deg); }
          .modal-content .wrapper-contact-form .box-txt-form .content-formulario .wrapper-par .wrapper-dropdown .dropdown {
            margin: 0;
            padding: 1em;
            position: absolute;
            top: 126%;
            right: 0;
            left: 0;
            list-style: none;
            z-index: 99;
            -webkit-box-shadow: inherit;
            box-shadow: inherit;
            background: inherit;
            -webkit-transform-origin: top;
            -ms-transform-origin: top;
            transform-origin: top;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            background-color: #414141;
            color: #e3e3e3; }
            .modal-content .wrapper-contact-form .box-txt-form .content-formulario .wrapper-par .wrapper-dropdown .dropdown li {
              line-height: 23px;
              overflow: hidden; }
              .modal-content .wrapper-contact-form .box-txt-form .content-formulario .wrapper-par .wrapper-dropdown .dropdown li:last-child {
                border-bottom: none; }
          .modal-content .wrapper-contact-form .box-txt-form .content-formulario .wrapper-par .dropdown {
            width: 100%;
            border: 1px solid #ccc;
            padding: 0.5rem;
            outline: none; }
          .modal-content .wrapper-contact-form .box-txt-form .content-formulario .wrapper-par .wrapper-dropdown .dropdown li:hover {
            background-color: #56b863;
            border-radius: 5px;
            color: white; }
          .modal-content .wrapper-contact-form .box-txt-form .content-formulario .wrapper-par .wrapper-dropdown.active .dropdown {
            opacity: 1;
            visibility: visible;
            border-radius: 5px; }
        .modal-content .wrapper-contact-form .box-txt-form .content-formulario .blocks-fields {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          gap: 20px; }
          @media (max-width: 800px) {
            .modal-content .wrapper-contact-form .box-txt-form .content-formulario .blocks-fields {
              display: inline; } }
          .modal-content .wrapper-contact-form .box-txt-form .content-formulario .blocks-fields .input-form {
            width: 100%;
            margin: 0.5em 0;
            position: relative;
            overflow: hidden; }
            @media only screen and (min-width: 320px) and (max-width: 768px) {
              .modal-content .wrapper-contact-form .box-txt-form .content-formulario .blocks-fields .input-form {
                width: 85%; } }
            @media only screen and (min-width: 320px) and (max-width: 768px) and (max-width: 770px) {
              .modal-content .wrapper-contact-form .box-txt-form .content-formulario .blocks-fields .input-form {
                width: 100%; } }
            @media (max-width: 500px) {
              .modal-content .wrapper-contact-form .box-txt-form .content-formulario .blocks-fields .input-form {
                width: 100%; } }
            .modal-content .wrapper-contact-form .box-txt-form .content-formulario .blocks-fields .input-form input {
              font-size: 1em;
              width: 100%;
              height: 100%;
              margin: 0.2em 0;
              padding-top: 30px;
              background: none;
              color: #767676;
              border: none;
              outline: 0px; }
            .modal-content .wrapper-contact-form .box-txt-form .content-formulario .blocks-fields .input-form .lbl-nombre {
              font-size: 0.95em;
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              pointer-events: none;
              border-bottom: 1px solid #ccc; }
              .modal-content .wrapper-contact-form .box-txt-form .content-formulario .blocks-fields .input-form .lbl-nombre:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 100%;
                height: 100%;
                border-bottom: 2px solid black;
                -webkit-transform: translateX(-100%);
                -ms-transform: translateX(-100%);
                transform: translateX(-100%);
                -webkit-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease; }
            .modal-content .wrapper-contact-form .box-txt-form .content-formulario .blocks-fields .input-form .text-nomb {
              position: absolute;
              bottom: 3px;
              left: 0;
              -webkit-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              transition: all 0.3s ease;
              color: #818181; }
            .modal-content .wrapper-contact-form .box-txt-form .content-formulario .blocks-fields .input-form input:focus + .lbl-nombre .text-nomb,
            .modal-content .wrapper-contact-form .box-txt-form .content-formulario .blocks-fields .input-form input:valid + .lbl-nombre .text-nomb {
              -webkit-transform: translateY(-180%);
              -ms-transform: translateY(-180%);
              transform: translateY(-180%);
              font-size: 12px;
              font-weight: bold;
              color: #56b863; }
            .modal-content .wrapper-contact-form .box-txt-form .content-formulario .blocks-fields .input-form .form input:valid + .lbl-nombre:after,
            .modal-content .wrapper-contact-form .box-txt-form .content-formulario .blocks-fields .input-form input:focus + .lbl-nombre:after {
              -webkit-transform: translateX(0%);
              -ms-transform: translateX(0%);
              transform: translateX(0%); }
        .modal-content .wrapper-contact-form .box-txt-form .content-formulario .text-arera {
          width: 100%;
          margin: 1.5em 0 0;
          padding: 0.5em;
          border: 1px solid #cccccc;
          border-radius: 5px;
          outline: none; }
          .modal-content .wrapper-contact-form .box-txt-form .content-formulario .text-arera::-webkit-input-placeholder, .modal-content .wrapper-contact-form .box-txt-form .content-formulario .text-arera:-ms-input-placeholder, .modal-content .wrapper-contact-form .box-txt-form .content-formulario .text-arera::-ms-input-placeholder, .modal-content .wrapper-contact-form .box-txt-form .content-formulario .text-arera::-webkit-input-placeholder {
            color: #ccc; }
          .modal-content .wrapper-contact-form .box-txt-form .content-formulario .text-arera::-webkit-input-placeholder, .modal-content .wrapper-contact-form .box-txt-form .content-formulario .text-arera:-ms-input-placeholder, .modal-content .wrapper-contact-form .box-txt-form .content-formulario .text-arera::-ms-input-placeholder, .modal-content .wrapper-contact-form .box-txt-form .content-formulario .text-arera::placeholder {
            color: #ccc; }
        .modal-content .wrapper-contact-form .box-txt-form .content-formulario .btn-enviar {
          width: 100%;
          margin: 1em 0 0;
          border: 0;
          background-color: #56b863;
          color: white;
          padding: 1em 2em;
          border-radius: 5px;
          cursor: pointer; }

@media (max-width: 700px) {
  .modal-content .wrapper-contact-form .box-img-form {
    display: none; } }

@media (max-width: 700px) {
  .modal-content .wrapper-contact-form .box-txt-form {
    width: 100%; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .modal-content
.wrapper-contact-form
.box-txt-form
.content-formulario
.input-form {
    width: 85%; } }

@media only screen and (min-width: 320px) and (max-width: 768px) and (max-width: 770px) {
  .modal-content
.wrapper-contact-form
.box-txt-form
.content-formulario
.input-form {
    width: 100%; } }

@media (max-width: 500px) {
  .modal-content
.wrapper-contact-form
.box-txt-form
.content-formulario
.input-form {
    width: 100%; } }

.iframe-pdf {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: none; }
