body {
  margin: 0;
  padding: 0; }

.wrapper-model-viewer {
  background-image: url("https://taglertesting.cl/wp-content/uploads/2025/08/fondo3d.jpg");
  background-size: cover; }

model-viewer {
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px); }

/* Aplica los estilos directamente a la parte del componente */
model-viewer::part(default-ar-button) {
  right: 20px;
  top: 80px;
  left: auto;
  bottom: auto; }

.icon-cube {
  width: 100px;
  position: absolute;
  top: 30px;
  left: 30px; }

/* Estilos del precargador */
#preload-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9999;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }

#preload-overlay.hidden {
  opacity: 0;
  visibility: hidden; }

#preload-overlay p {
  margin-top: 15px;
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #333; }

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border: 2px solid #585858;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: rotation 2s linear infinite;
  animation: rotation 2s linear infinite; }

.loader::after,
.loader::before {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid #8dc64d;
  width: 38px;
  height: 38px;
  -webkit-animation: rotationBack 1.5s linear infinite;
  animation: rotationBack 1.5s linear infinite;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center; }

.loader::before {
  width: 28px;
  height: 28px;
  border-color: #585858;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite; }

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes rotationBack {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@keyframes rotationBack {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
