.wrapper-mi-swiper {
   width: 100%;
   height: 100vh;
   overflow: hidden;

   .swiper-button-next,
   .swiper-button-prev {
      color: #646464;
      z-index: 1;
      @media (max-width: 600px) {
         display: none;
      }
   }

   .wrapper-banner-burro {
      width: 100%;
      height: 100%;
      @media (max-width: 900px) {
         background-color: #415916;
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         @media (max-width: 900px) {
            display: none;
         }
      }
   }

   .block-one-two {
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      @media (max-width: 900px) {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }

      .block-one,
      .block-two {
         width: 50%;
         @media (max-width: 900px) {
            width: 100%;
         }
      }

      .block-one {
         height: 400px;
         display: flex;
         align-items: center;
         @media (max-width: 900px) {
            display: none;
         }

         img {
            width: 200px;
            margin-left: 70px;
         }
      }

      .block-two {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;

         .img-burro-desktop {
            width: 500px;
            -webkit-filter: drop-shadow(0 0 9px rgba(0, 0, 0, 0.6));
            filter: drop-shadow(0 0 9px rgba(0, 0, 0, 0.6));

            @media (max-width: 1400px) {
               width: 430px;
               background-color: #2d4305;
               padding: 1em;
               border-radius: 10px;
            }
            @media (max-width: 900px) {
               display: none;
            }
         }

         .img-burro-mobile {
            display: none;
            @media (max-width: 900px) {
               display: block;
               width: 400px;
            }
            @media (max-width: 500px) {
               width: 350px;
            }
         }

         .btn-demo {
            padding: 1em 5em;
            border-radius: 10px;
            background-color: #253702;
            color: white;
            -webkit-box-shadow: 0 0 10px #2d4305;
            box-shadow: 0 0 10px #2d4305;
            -webkit-transform: translatey(20px);
            -ms-transform: translatey(20px);
            transform: translatey(20px);
            font-weight: bold;
         }
      }
   }

   .wraper-maquito2025 {
      width: 100%;
      height: 100vh;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .wrapper-dibujo-maquito {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
         width: 700px;
         transform: translateY(100px);
         filter: drop-shadow((-2px) 2px 15px rgba(0, 0, 0, 0.5));
         .wrapper-mi-swiper .wrapper-dibujo-maquito img {
            width: 700px;
            transform: translateY(100px);
            filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.5));
         }

         @media (min-width: 1500px) {
            width: 800px;
         }
         @media (max-width: 1450px) {
            width: 600px;
         }
         @media (max-width: 700px) {
            width: 95%;
         }
         @media (max-width: 700px) {
            transform: translateY(0);
         }
      }
   }

   .btn-maq2025 {
      width: 150px;
      position: absolute;
      bottom: 100px;
      width: 400px;
      right: 100px;
      @media (max-width: 600px) {
         width: 100%;
         right: 0;
         bottom: 150px;
         padding: 2em;
      }
   }

   // Banner VC999
   .wraper-banner-vc999 {
      width: 100%;
      height: 100vh;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   .wrapper-izq-der {
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      @media (max-width: 600px) {
         flex-direction: column;
         transform: translateY(120px);
      }

      .content-txt-izq,
      .content-img-der {
         width: 50%;
         @media (max-width: 600px) {
            width: 100%;
         }
      }

      // Contenedor Izquierdo
      .content-txt-izq {
         display: flex;
         justify-content: flex-end;
         align-items: center;
         flex-direction: column;
         z-index: 1;
         transform: translateY(-100px);

         @media (max-width: 1550px) {
            transform: translateY(-50px);
         }

         @media (max-width: 600px) {
            order: 2;
            transform: translateY(0px);
         }

         img {
            width: 550px;
            margin: 0.5em 0;

            @media (max-width: 1550px) {
               width: 460px;
            }

            @media (max-width: 1100px) {
               width: 80%;
            }
         }
      }

      // Contenedor Derecho
      .content-img-der {
         display: flex;
         justify-content: center;
         align-items: flex-end;
         transform: translateY(-50px);
         @media (max-width: 600px) {
            align-items: center;
            transform: translateY(0);
         }

         img {
            width: 550px;

            // min-width
            @media (min-width: 1551px) {
               width: 700px;
            }

            // max-width
            @media (max-width: 600px) {
               width: 90%;
               margin: 0 auto;
               display: flex;
            }
         }
      }
   }

   // Slider Taglermaq Experience
   .wrapper-tgm-experience {
      width: 100%;
      height: 100vh;
      position: relative;
      display: flex;
      justify-content: center;
      overflow: hidden;
      &:before {
         content: "";
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 1;
         background: linear-gradient(
            to bottom,
            rgba(80, 47, 123, 0.1) 0%,
            #191d2d 100%
         );
      }
      .img-banner-top,
      .img-fondo,
      .wave {
         position: absolute;
      }
      .img-banner-top {
         width: 100%;
         max-width: 1600px;
         z-index: 1;
         top: 80px;
         @media (max-width: 600px) {
            width: 400%;
            // margin-left: -650px;
            margin-left: 815px;
            top: 60px;
         }
      }
      .img-fondo {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      .wave {
         width: 100%;
         opacity: 0.5;
         @media (max-width: 1000px) {
            width: 2000px;
         }
      }
      .wrapper-experience {
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         position: absolute;
         bottom: 0;
         z-index: 999;
         @media (min-width: 1500px) {
            bottom: -80px;
         }

         @media (max-width: 1500px) {
            width: 95%;
            bottom: 20px;
            align-items: flex-end;
         }
         @media (max-width: 500px) {
            bottom: 150px;
         }
         .box-experience {
            width: 700px;
            @media (max-width: 1500px) {
               width: 600px;
            }
            .txt-experience {
               filter: drop-shadow(-2px 2px 15px rgba(25, 29, 45, 1));
            }
            h1 {
               text-align: center;
               color: white;
               font-weight: 500;
               line-height: 1.3;
            }
            h2 {
               text-align: center;
               color: #95c11f;
            }
            .content-btn-experience {
               width: 100%;
               display: flex;
               justify-content: center;
               margin: 1em auto 0;
               position: relative;
               a {
                  position: absolute;
                  .btn-experience {
                     font-size: 0.9em;
                     width: 300px;
                     font-weight: bold;
                     line-height: 3;
                     color: white;
                     background-color: #95c11f;
                     box-shadow: 0 0 0 3px #ffffff;
                     border-radius: 10px;
                  }
               }
            }

            .machines {
               width: 100%;
               @media (max-width: 500px) {
                  transform: translateY(30px);
               }
            }
         }
      }
   }

   // Banner XR76
   .group-fondo {
      width: 100%;
      height: 100vh;
      position: relative;
      img {
         width: 100%;
         height: 100vh;
      }
   }
   .group-xr76 {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      @media (max-width: 1000px) {
         flex-direction: column;
      }
      .content-txt-izq {
         width: 50%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         transform: translate(80px, 130px);

         @media (max-width: 1000px) {
            width: 100%;
            position: absolute;
            transform: translateY(-50px);
         }
         img {
            width: 50%;
            @media (min-width: 1400px) {
               width: 45%;
            }

            @media (max-width: 1500px) {
               width: 60%;
            }
            @media (max-width: 1000px) {
               transform: translate(0, 0);
               mask-image: linear-gradient(to top, transparent, black 100%);
            }
         }
      }
      .content-img-der {
         width: 50%;
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: flex-start;
         transform: translateY(50px);
         @media (max-width: 1000px) {
            width: 100%;
            transform: translateY(100px);
         }
         img {
            width: 80%;
            filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.8));

            @media (max-width: 1000px) {
               width: 90%;
               margin: 0 auto;
               display: flex;
            }
         }
      }
   }

   // Hypernova
   .fondo-hypernova {
      width: 100%;
      height: 100vh;
      position: relative;
      &:before {
         content: "";
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         background: linear-gradient(
            to left,
            rgba(80, 47, 123, 0.1) 50%,
            #191d2d 100%
         );
         opacity: 0;
         @media (max-width: 700px) {
            opacity: 1;
         }
      }
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   .txt-hypernova {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 700px) {
         width: 100%;
      }
      img {
         width: 600px;
         transform: translateY(50px);
         @media (max-width: 1000px) {
            width: 100%;
         }
         @media (max-width: 700px) {
            width: 90%;
         }
      }
   }

   // Slider Modula Flexibox
   .wrapper-banner-flexibox {
      width: 100%;
      height: 100vh;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      button {
         font-family: "Montserrat";
         font-size: 2em;
         font-weight: bold;
         padding: 0.2em 0.5em;
         position: absolute;
         right: 120px;
         bottom: 60px;
         z-index: 1;
         color: white;
         background-color: #313131;
         box-shadow: 0 5px 2px #949494;
         border-radius: 40px;
         @media (max-width: 500px) {
            background-color: #fb9000;
            bottom: 200px;
            box-shadow: inherit;
         }
         @media (max-width: 400px) {
            font-size: 1.5em;
         }
      }
   }
   .wrapper-flexibox {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @media (max-width: 500px) {
         width: 80%;
      }
      .block-doble {
         width: 100%;
         height: 100%;
      }

      .content-flexibox {
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         img {
            width: 70%;
            filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7));
            @media (min-width: 1500px) {
               width: 55%;
            }

            @media (max-width: 1000px) {
               width: 80%;
            }
            @media (max-width: 500px) {
               width: 100%;
               transform: translate(20px, -30px);
            }
         }
      }
   }
}

@media (max-width: 800px) {
   .swiper-pagination {
      display: none;
   }
}
.wrapper-feria {
   width: 100%;
   height: 100%;
}
