.wrapper-footer {
   width: 100%;
   background-color: white;

   .content-footer {
      width: 100%;
      max-width: 1300px;
      margin: 0 auto;
      padding: 3em 0 2em;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .content-ul {
         width: 320px;
         @media (max-width: 700px) {
            width: 90%;
         }

         ul {
            list-style: none;

            .li-titles-footer {
               font-size: 0.8em;
               font-weight: bold;
            }

            .li-enlace a {
               text-decoration: none;
               font-weight: 300;
               font-size: 0.9em;
               color: gray;
            }
         }

         .line-hr {
            width: 90%;
            margin: 1em 0;
            border: 1px solid #f2f2f2;
         }

         .h3-txt-direccion {
            font-weight: 300;
            font-size: 0.9em;
            color: gray;
         }
      }

      .wrapper--camioneta {
         width: 100%;
         display: flex;
         justify-content: flex-end;
         @media (max-width: 600px) {
            justify-content: center;
         }

         img {
            width: 500px;
            @media (max-width: 600px) {
               width: 90%;
            }
         }
      }
   }
}

@media (max-width: 700px) {
   .wrapper-footer .content-footer .content-ul {
      width: 90%;
   }
}

@media (max-width: 600px) {
   .wrapper-footer .content-footer .wrapper--camioneta {
      justify-content: center;
   }
}

@media (max-width: 600px) {
   .wrapper-footer .content-footer .wrapper--camioneta img {
      width: 90%;
   }
}

.wrapper-logotipos {
   width: 100%;
   padding: 2em 0;
   background-color: #212121;

   .wrapper-company {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .size-achs,
      .size-goalzero,
      .size-rec,
      .size-sap,
      .size-taglerfood {
         margin: 0 3em 0 0;
         @media (max-width: 600px) {
            display: none;
            margin: 0;
         }
      }

      .size-taglermaq {
         width: 200px;
         margin: 0 3em 0 0;
         @media (max-width: 600px) {
            margin: 0;
         }
      }

      .size-goalzero {
         width: 150px;
      }

      .size-taglerfood {
         width: 70px;
      }

      .size-sap {
         width: 150px;
      }

      .size-achs {
         width: 70px;
      }

      .size-rec {
         width: 200px;
      }
   }
}

.wrapper-copyright {
   width: 100%;
   background-color: #95c11f;

   .title-copyright {
      font-family: ubuntu, sans-serif;
      margin: 0;
      padding: 0.5em 0;
      font-size: 0.8em;
      font-weight: 400;
      text-align: center;
      color: #161128;
   }
}
