// * Overlays Degradado imagen
.overlay1,
.overlay1a,
.overlay2,
.overlay2a,
.overlay3,
.overlay4,
.overlay4a,
.overlay5,
.overlay6,
.color-foodservice {
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
}

.overlay1 {
   background: linear-gradient(-100deg, rgba(80, 47, 123, 0) 30%, #0e1528 100%);

   @media (max-width: 600px) {
      background: linear-gradient(
         -100deg,
         rgba(80, 47, 123, 0) -20%,
         #0e1528 100%
      );
   }
}

.overlay1a {
   background: linear-gradient(-100deg, rgba(80, 47, 123, 0) 10%, #0e1d3c 100%);
}

.overlay6 {
   background: linear-gradient(-100deg, rgba(80, 47, 123, 0) 50%, #0e1528 100%);
}

.overlay2 {
   background: linear-gradient(-100deg, rgba(80, 47, 123, 0) 30%, #132350 100%);
}

.overlay2a {
   background: linear-gradient(-100deg, rgba(80, 47, 123, 0) 0%, #132350 100%);
}

.overlay3 {
   background: linear-gradient(-100deg, rgba(80, 47, 123, 0) 40%, #1f0e02 100%);
}

.overlay4 {
   background: linear-gradient(-100deg, rgba(80, 47, 123, 0) 30%, #171f4a 100%);
}

.overlay4a {
   background: linear-gradient(-100deg, rgba(80, 47, 123, 0) 0%, #171f4a 100%);
}

.overlay5 {
   background: linear-gradient(-100deg, rgba(80, 47, 123, 0) 45%, #0b0f28 100%);
}

.color-foodservice {
   background: linear-gradient(
      -100deg,
      rgba(80, 47, 123, 0) -30%,
      #232b36 100%
   );
}

// * Cambiar color palabra titulo principal
.color1,
.color2,
.color3,
.color-irininox,
.color-tagler,
.color-marel,
.color-anritsu,
.color-insort,
.color-handtmann {
   font-family: rajdhani, sans-serif;
}

.color1 {
   color: #36a925;
}

.color2 {
   color: #e20420;
}

.color3 {
   color: #f6a300;
}

.color-irinox {
   color: #002446;
}

.color-tagler {
   color: #73b936;
}

.color-insort {
   color: #bca50f;
}

.color-marel {
   color: #ff1538;
   text-shadow: 0 0 10px black;
}

.color-anritsu {
   color: #00b586;
}

.color-handtmann {
   color: #ee703a;
}

// * Separador de secciones
.separation-section {
   margin: 2em 0;
   border: 1px solid #ececec;
}

// * Color bajada subtitulo
.bajada-irininox {
   color: #002446;
}

// * Estructura Noticias
.fondo-notice {
   width: 100%;
   height: 100%;
   margin: 6em 0 0;
   padding: 6em 0;
   background-color: #e5e5e5;

   .wrapper-fondo-notice {
      max-width: 1300px;
      width: 100%;
      margin: 0 auto;

      .grid-container-notice {
         max-width: 1500px;
         margin: 0 auto;
         display: grid;
         grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
         grid-auto-rows: minmax(200px, auto);
         gap: 20px;
         grid-auto-flow: dense;

         @media (max-width: 1300px) {
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            padding: 0 2em;
         }

         @media (max-width: 500px) {
            padding: 0 1em;
         }

         .grid-item-notice {
            background-color: white;
            box-shadow: 0 0 6px #ccc;
            border-radius: 10px;
            overflow: hidden;

            img {
               width: 100%;
               height: 100%;
            }

            .wrapper-txt-notice {
               width: 100%;
               height: 150px;

               .content-txt-notice {
                  margin: 0.5em 1em;

                  .fecha-publicada {
                     font-size: 0.8em;
                     color: #909090;
                  }

                  .line-separator {
                     color: #fff;
                     opacity: 0.4;
                     margin: 0.4em 0;
                  }

                  .title-notice {
                     color: #626262;
                     font-weight: bold;
                     font-size: 1em;
                     line-height: 1.3;
                  }
               }
            }
         }
      }
   }
}

// * Estructura detalle de noticias
.wrapper-banner-front {
   width: 100%;
   height: 100vh;
   position: relative;

   .img-banner {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   .wrapper-title-banner {
      width: 55%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(40px);

      @media (max-width: 1100px) {
         width: 60%;
      }

      @media (max-width: 900px) {
         width: 90%;
         background-color: #19253d75;
      }

      @media (max-width: 600px) {
         width: 100%;
         transform: translateY(0px);
      }

      .wrapper-icon-title {
         @media (max-width: 600px) {
            width: 90%;
         }

         .img-logotipo {
            width: 300px;
            margin: 0 0 1em 0;
         }

         .title-init {
            font-family: rajdhani, sans-serif;
            font-size: 5.5em;
            width: 600px;
            color: white;
            font-weight: 600;
            line-height: 0.9;
            -webkit-text-stroke: 4px;
            text-shadow: 0 0 10px #1e1e1e;

            @media (max-width: 600px) {
               font-size: 3.5em;
               width: 100%;
            }
         }

         .txt-subtitle {
            width: 450px;
            color: white;
            font-weight: normal;
            line-height: 1.2;
            border-left: 2px solid #8cc53f;
            padding: 0 0.5em 0;
            margin: 0.5em 0 0 0.2em;

            @media (max-width: 600px) {
               width: 100%;
            }
         }

         .img-texto {
            width: 500px;
            filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.5));

            @media (min-width: 2500px) {
               width: 650px;
               transform: translateY(30px);
            }

            @media (max-width: 600px) {
               width: 100%;
            }
         }
      }
   }
}

// * Contenido parrafos NOTICIAS
.fondo-contenido {
   padding: 0 0 10em 0;
   background: linear-gradient(to bottom, white 0%, #f4f4f4 100%);

   .wrapper-edit-content {
      max-width: 900px;
      width: 100%;
      margin: 5em auto 0;
      @media (max-width: 1100px) {
         max-width: 95%;
         margin: 2em auto 0;
      }

      .logotipo-img {
         width: 130px;
      }

      h2 {
         margin: 0 0 1em 0;
         line-height: 1.4;

         @media (max-width: 600px) {
            font-size: 1.2em;
         }
      }

      p {
         margin: 0 0 2em 0;
         color: #515151;
         font-weight: normal;
      }

      ul {
         margin-left: 20px;
         color: #515151;
      }

      h4 {
         margin: 1.5em 0 1em;
         font-weight: normal;
      }

      .img-grafica {
         border-radius: 10px;
         margin: 0 0 2em 0;
      }

      .visitar {
         font-size: 1em;
         font-weight: normal;
      }

      .btn-mas-info {
         width: 500px;
         font-size: 1em;
         font-weight: 500;
         display: flex;
         justify-content: center;
         margin: 0 auto;
         padding: 1em;
         color: white;
         background-color: #8cc53f;
         border-radius: 10px;

         @media (max-width: 1000px) {
            width: 80%;
         }
      }

      .mi-clase-vc999 {
         margin: 1em 0;
         display: flex;
         align-items: center;
         @media (max-width: 600px) {
            flex-direction: column;
         }
         img {
            width: 70px;
            margin: 0 0.5em 0 0;
         }

         .textos-vc999 {
            @media (max-width: 600px) {
               text-align: center;
            }
            h3 {
               font-size: 1.2;
            }
            p {
               margin: 0;
            }
         }
      }
   }
}

.elevacion {
   font-size: 0.3em;
   position: relative;
   top: -42px;
   -webkit-text-stroke: 1px;
   font-weight: 100;

   @media (max-width: 500px) {
      top: -25px;
   }
}
