body {
   margin: 0;
   padding: 0;
}
.wrapper-model-viewer {
   // background-image: url("https://taglertesting.cl/wp-content/uploads/2025/08/fondo3d.jpg");
   background-image: linear-gradient(180deg, #1a1a1a 40%, #3e3e3e 78%);
   background-size: cover;
}

model-viewer {
   width: 100vw;
   height: 100vh;
   transform: translateY(-30px);
}

/* Aplica los estilos directamente a la parte del componente */
model-viewer::part(default-ar-button) {
   right: 20px;
   top: 80px;
   left: auto;
   bottom: auto;
}

.icon-cube {
   width: 100px;
   position: absolute;
   top: 30px;
   left: 30px;
}

/* Estilos del precargador */
#preload-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 9999;
   transition: opacity 0.5s ease;
}
#preload-overlay.hidden {
   opacity: 0;
   visibility: hidden;
}
#preload-overlay p {
   margin-top: 15px;
   font-family: sans-serif;
   font-size: 1.2rem;
   color: white;
}
.loader {
   width: 48px;
   height: 48px;
   display: inline-block;
   position: relative;
   border: 2px solid white;
   box-sizing: border-box;
   animation: rotation 2s linear infinite;
}
.loader::after,
.loader::before {
   content: "";
   box-sizing: border-box;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   border: 2px solid #8dc64d;
   width: 38px;
   height: 38px;
   animation: rotationBack 1.5s linear infinite;
   transform-origin: center center;
}
.loader::before {
   width: 28px;
   height: 28px;
   border-color: white;
   box-sizing: border-box;
   animation: rotation 1s linear infinite;
}

@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
@keyframes rotationBack {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(-360deg);
   }
}
